.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 30vw 0;
    padding: 0 0 20px;

    border: solid;
    border-width: 2px;
    border-bottom-color: #424242;
    border-right-color: #424242;
    border-left-color: #fff;
    border-top-color: #fff;
    background: silver;
    color: #212529;
}

.windowheader {
    background: linear-gradient(to right, #08216b,#a5cef7);
    color: white;
    padding: 3px 20px 3px;
    margin: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #424242;
    border-right: 2px solid #424242;
    width: 100%;
    box-sizing: border-box;
}

.windowcontent {
    padding: 10px 0 0 0;
}

.inputbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap:4px;
}

.submitbutton {
    display: block;
    width: 100%;
    border-width: 2px;
    font-weight: bolder;
    border-style: outset;
    border-color: white black black white;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
    color: black;
    margin: 15px 0 0 0;
    padding: 4px;
    border-radius: 1px;

    grid-column-start: 1;
    grid-column-end: 3;
}

.submitbutton:active {
  background: #a9a9a9;
  border-color: #424242 white white #424242;
}

.report {
    margin: 15px 0 0;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}