nav {
    background: silver;
    margin: 0;
    border: 1px outset #fff;
    padding: 0 70vw 0 0.5vw;
    color: #212529;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: silver;
  border: 1px outset #fff;
  padding: 0.5rem;
  top: 100%;
  color: #212529;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  width:225px;
}

.userstate {
  position: absolute;
  right: 20px;
}

button {
  margin: 0 0.5vw 0 10px;
  border-width: 2px;
  font-weight: bolder;
  border-style: outset;
  border-color: white black black white;
  border-right-color: #424242;
  border-bottom-color: #424242;
  background: silver;
  color: black;
  border-radius: 1px;
}

button:active {
  background: #a9a9a9;
  border-color: #424242 white white #424242;
}