body {
    font-family: "MS Sans Serif",Tahoma,Verdana,Segoe,sans-serif; 
    background: teal;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
}

.unauthorizeduser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35vh 30vw 0;
    padding: 20px 0 20px;

    border: solid;
    border-width: 2px;
    border-bottom-color: #424242;
    border-right-color: #424242;
    border-left-color: #fff;
    border-top-color: #fff;
    background: silver;
    color: #212529;
}

